###### NuGet Packages
packages/

###### Analytics Test Site
Analytics.Site/App_Data/TEMP/
Analytics.Site/App_Data/Logs/
Analytics.Site/App_Data/NuGetBackup/
Analytics.Site/App_Plugins/Analytics/
Analytics.Site/bin/
Analytics.Site/obj/
Analytics.Site/media/created-packages/

###### Analytics 7.3.0 Test Site
Analytics.730/App_Data/TEMP/
Analytics.730/App_Data/Logs/
Analytics.730/App_Plugins/Analytics/
Analytics.730/bin/
Analytics.730/obj/
Analytics.730/media/created-packages/

###### Analytics Main Project
Analytics/obj/
Analytics/bin/
Analytics/App_Data/NuGetBackup/

###### Analytics Build Output
BuildPackage/Build/
BuildPackage/artifacts/
BuildPackage/_umbraco/
BuildPackage/_nuget/

*.suo

.vs/
Analytics.Site/Analytics.Site.csproj.user
Analytics.Client/node_modules/
Analytics.Client/build/
