<div ng-controller="Analytics.BrowserController">
    <div class="umb-pane">
        
        <h4>Last 30 Days - Browser</h4>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Browser</th>
                    <th>Vists</th>
                    <th>Page Views</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in browser.Rows">
                    <td>{{ row.Cells[0] }}</td>
                    <td>{{ row.Cells[1] }}</td>
                    <td>{{ row.Cells[2] }}</td>
                </tr>
            </tbody>
        </table>
        
        <hr/>
        
        <h4>Last 30 Days - Browser Specific</h4>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Browser</th>
                    <th>Version</th>
                    <th>Vists</th>
                    <th>Page Views</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in browserspecifics.Rows">
                    <td>{{ row.Cells[0] }}</td>
                    <td>{{ row.Cells[1] }}</td>
                    <td>{{ row.Cells[2] }}</td>
                    <td>{{ row.Cells[3] }}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>