<div ng-controller="Analytics.BrowserController">
    <style>
        canvas {
            position: relative; /* position:relative, otherwise the canvas affect some of the table styling below the canvas */
        }
    </style>
    <div class="umb-pane">
        
        <div ng-model="dateFilter" date-range-picker class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
        </div>      
         
        <h4>Browser</h4>
        
        <div class="clearfix"></div>
        <div ng-show="loadingViews">
            <div class="umb-loader" style="height: 10px; margin: 10px 0px;"></div>
        </div>

        <canvas id="browsers" width="650" height="450"></canvas>

        <table id="tbl-browsers" class="table table-striped">
            <thead>
                <tr>
                    <th id="browser"><a href="#" ng-click="sort('browser')" prevent-default>Browser <i class="fa fa-sort"></i></a></th> <!-- icon-sort -->
                    <th id="visits"><a href="#" ng-click="sort('visits')" prevent-default>Visits <i class="fa fa-sort"></i></a></th>
                    <th id="pageviews"><a href="#" ng-click="sort('pageviews')" prevent-default>Page Views <i class="fa fa-sort"></i></a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items | orderBy:sortField:descending">
                    <td>{{ item.browser }}</td>
                    <td>{{ item.visits }}</td>
                    <td>{{ item.pageviews }}</td>
                </tr>
            </tbody>
        </table>
        
        <hr/>
        
        <h4>Browser Specific</h4>

        <table id="tbl-browserspecifics" class="table table-striped">
            <thead>
                <tr>
                    <th id="bs_browser"><a href="#" ng-click="sort('bs_browser')" prevent-default>Browser <i class="fa fa-sort"></i></a></th> <!-- icon-sort -->
                    <th id="bs_version"><a href="#" ng-click="sort('bs_version')" prevent-default>Version <i class="fa fa-sort"></i></a></th>
                    <th id="bs_visits"><a href="#" ng-click="sort('bs_visits')" prevent-default>Visits <i class="fa fa-sort"></i></a></th>
                    <th id="bs_pageviews"><a href="#" ng-click="sort('bs_pageviews')" prevent-default>Page Views <i class="fa fa-sort"></i></a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in itemSpecs | orderBy:sortField:descending">
                    <td>{{ item.bs_browser }}</td>
                    <td>{{ item.bs_version }}</td>
                    <td>{{ item.bs_visits }}</td>
                    <td>{{ item.bs_pageviews }}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>