<div ng-controller="Analytics.DashboardController">
    <style>
        canvas{
        width: 100% !important;
        max-width: 800px;
        height: auto !important;
    }
    </style>
    <h4>Views</h4>

    <div class="row-fluid">
        <div class="span6">
            <canvas id="viewMonths"></canvas>
        </div>
        <div class="span6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Page Path</th>
                        <th>Vists</th>
                        <th>Page Views</th>
                    </tr>
                </thead>
                <p ng-show="loadingViews">Loading data...</p>
                <tbody ng-show="!loadingViews">
                    <tr ng-repeat="row in views.Rows| limitTo:10">
                        <td><a href="{{ row.Cells[0] }}" target="_blank">{{ row.Cells[0] }}</a></td>
                        <td>{{ row.Cells[1] }}</td>
                        <td>{{ row.Cells[2] }}</td>
                    </tr>
                </tbody>
            </table>
            <a href="/umbraco/#/analytics/analyticsTree/view/views" class="btn btn-primary">View more details</a>
        </div>
    </div>
    
    <hr/>
    
    <div class="row-fluid">
        <div class="span6">
            <h4>Sources</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Source</th>
                        <th>Vists</th>
                        <th>Page Views</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in sources.Rows| limitTo:10">
                        <td>{{ row.Cells[0] }}</td>
                        <td>{{ row.Cells[1] }}</td>
                        <td>{{ row.Cells[2] }}</td>
                    </tr>
                </tbody>
            </table>
            <a href="/umbraco/#/analyticsanalytics/analyticsTree/view/views" class="btn btn-primary">View more details</a>
        </div>
        <div class="span6">
            <h4>Keywords</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Keyword</th>
                        <th>Vists</th>
                        <th>Page Views</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in keywords.Rows| limitTo:10">
                        <td>{{ row.Cells[0] }}</td>
                        <td>{{ row.Cells[1] }}</td>
                        <td>{{ row.Cells[2] }}</td>
                    </tr>
                </tbody>
            </table>
            <a href="/umbraco/#/analyticsanalytics/analyticsTree/view/keywords" class="btn btn-primary">View more details</a>
        </div>
    </div>
    
</div>