<div ng-controller="Analytics.DeviceController">
    <div class="umb-pane">
        
        <div ng-model="dateFilter" date-range-picker class="date-filter pull-right">
        </div> 
        
        <h4><localize key="analytics_deviceTypes">Device Types</localize></h4>
   
        <div class="clearfix"></div>
        <div ng-show="loadingViews" class="loading-bar">
            <div class="umb-loader" style="height: 10px; margin: 10px 0px;"></div>
        </div>

        <div class="chart-container">
            <canvas id="deviceType" width="650" height="450"></canvas>
        </div>

        <table id="tbl-devicetypes" class="table table-striped" ts-wrapper>
            <thead>
                <tr>
                    <th id="dt_devicetype" ts-criteria="dt_devicetype"><localize key="analytics_deviceType">Device Type</localize></th>
                    <th id="dt_visits" ts-criteria="dt_visits | parseInt" ts-default="descending"><localize key="analytics_visits">Visits</localize></th>
                    <th id="dt_pageviews" ts-criteria="dt_pageviews | parseInt"><localize key="analytics_pageViews">Page Views</localize></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in types track by $id(item)" ts-repeat>
                    <td>{{ item.dt_devicetype }}</td>
                    <td>{{ item.dt_visits }}</td>
                    <td>{{ item.dt_pageviews }}</td>
                </tr>
            </tbody>
        </table>
        
        <hr/>
        
        <h4><localize key="analytics_devices">Devices</localize></h4>
        <table id="tbl-devices" class="table table-striped" ts-wrapper>
            <thead>
                <tr>
                    <th id="device" ts-criteria="device"><localize key="analytics_device">Device</localize></th>
                    <th id="model" ts-criteria="model"><localize key="analytics_model">Model</localize></th>
                    <th id="visits" ts-criteria="visits | parseInt" ts-default="descending"><localize key="analytics_visits">Visits</localize></th>
                    <th id="pageviews" ts-criteria="pageviews | parseInt"><localize key="analytics_pageViews">Page Views</localize></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items track by $id(item)" ts-repeat>
                    <td>{{ item.device }}</td>
                    <td>{{ item.model }}</td>
                    <td>{{ item.visits }}</td>
                    <td>{{ item.pageviews }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>