<div ng-controller="Analytics.DeviceController">
    <div class="umb-pane">
        
        <div ng-model="dateFilter" date-range-picker class="date-filter pull-right">
        </div> 
            
        <h4>Device Types</h4>
   
        <div class="clearfix"></div>
        <div ng-show="loadingViews" class="loading-bar">
            <div class="umb-loader" style="height: 10px; margin: 10px 0px;"></div>
        </div>

        <div class="chart-container">
            <canvas id="deviceType" width="650" height="450"></canvas>
            <div class="chart-legend">
                <ul>
                    <li class="serie-blue">Page Views</li>
                    <li class="serie-red">Visits</li>
                </ul>
            </div>
        </div>

        <table id="tbl-devicetypes" class="table table-striped">
            <thead>
                <tr>
                    <th id="dt_devicetype"><a href="#" ng-click="sort('dt_devicetype')" prevent-default><span>Device Type</span> <i class="icon"></i></a></th>
                    <th id="dt_visits"><a href="#" ng-click="sort('dt_visits')" prevent-default><span>Visits</span> <i class="icon"></i></a></th>
                    <th id="dt_pageviews"><a href="#" ng-click="sort('dt_pageviews')" prevent-default><span>Page Views</span> <i class="icon"></i></a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in types | orderBy:sortField:descending">
                    <td>{{ item.dt_devicetype }}</td>
                    <td>{{ item.dt_visits }}</td>
                    <td>{{ item.dt_pageviews }}</td>
                </tr>
            </tbody>
        </table>
        
        <hr/>
        
        <h4>Devices</h4>
        <table id="tbl-devices" class="table table-striped">
            <thead>
                <tr>
                    <th id="device"><a href="#" ng-click="sort('device')" prevent-default><span>Device</span> <i class="icon"></i></a></th>
                    <th id="model"><a href="#" ng-click="sort('model')" prevent-default><span>Model</span> <i class="icon"></i></a></th>
                    <th id="visits"><a href="#" ng-click="sort('visits')" prevent-default><span>Visits</span> <i class="icon"></i></a></th>
                    <th id="pageviews"><a href="#" ng-click="sort('pageviews')" prevent-default><span>Page Views</span> <i class="icon"></i></a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items | orderBy:sortField:descending">
                    <td>{{ item.device }}</td>
                    <td>{{ item.model }}</td>
                    <td>{{ item.visits }}</td>
                    <td>{{ item.pageviews }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>