<div ng-controller="Analytics.OSController">
    <div class="umb-pane">
        
        <div ng-model="dateFilter" date-range-picker class="date-filter pull-right">
        </div>        
        
        <h4><localize key="analytics_os">OS</localize></h4>
      
        <div class="clearfix"></div>
        <div ng-show="loadingViews" class="loading-bar">
            <div class="umb-loader" style="height: 10px; margin: 10px 0px;"></div>
        </div>
        
        <div class="chart-container">
            <canvas id="os" width="650" height="450"></canvas>
        </div>

        <table id="tbl-os" class="table table-striped" ts-wrapper>
            <thead>
                <tr>
                    <th id="operatingsystem" ts-criteria="operatingsystem"><localize key="analytics_operatingSystem">Operating System</localize></th>
                    <th id="visits" ts-criteria="visits | parseInt" ts-default="descending"><localize key="analytics_visits">Visits</localize></th>
                    <th id="pageviews" ts-criteria="pageviews | parseInt"><localize key="analytics_pageViews">Page Views</localize></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items track by $id(item)" ts-repeat>
                    <td>{{ item.operatingsystem }}</td>
                    <td>{{ item.visits }}</td>
                    <td>{{ item.pageviews }}</td>
                </tr>
            </tbody>
        </table>
        
        <hr />

        <h4><localize key="analytics_osVersions">OS Versions</localize></h4>

        <table id="tbl-osversions" class="table table-striped" ts-wrapper>
            <thead>
                <tr>
                    <th id="v_operatingsystem" ts-criteria="v_operatingsystem"><localize key=" analytics_operatingSystem">Operating System</localize></th>
                    <th id="v_version" ts-criteria="v_version"><localize key=" analytics_version">Version</localize></th>
                    <th id="v_visits" ts-criteria="v_visits | parseInt" ts-default="descending"><localize key="analytics_visits">Visits</localize></th>
                    <th id="v_pageviews" ts-criteria="v_pageviews | parseInt"><localize key="analytics_pageViews">Page Views</localize></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in itemsVersions track by $id(item)" ts-repeat>
                    <td>{{ item.v_operatingsystem }}</td>
                    <td>{{ item.v_version }}</td>
                    <td>{{ item.v_visits }}</td>
                    <td>{{ item.v_pageviews }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>