<div ng-controller="Analytics.OSController">
    <div class="umb-pane">
        
        <div ng-model="dateFilter" date-range-picker class="date-filter pull-right">
        </div>        
        
        <h4>OS</h4>
      
        <div class="clearfix"></div>
        <div ng-show="loadingViews" class="loading-bar">
            <div class="umb-loader" style="height: 10px; margin: 10px 0px;"></div>
        </div>
        
        <div class="chart-container">
            <canvas id="os" width="650" height="450"></canvas>
            <div class="chart-legend">
                <ul>
                    <li class="serie-blue">Page Views</li>
                    <li class="serie-red">Visits</li>
                </ul>
            </div>
        </div>

        <table id="tbl-os" class="table table-striped">
            <thead>
                <tr>
                    <th id="operatingsystem"><a href="#" ng-click="sort('operatingsystem')" prevent-default>Operating System <i class="fa fa-sort"></i></a></th> <!-- icon-sort -->
                    <th id="visits"><a href="#" ng-click="sort('visits')" prevent-default>Visits <i class="fa fa-sort"></i></a></th>
                    <th id="pageviews"><a href="#" ng-click="sort('pageviews')" prevent-default>Page Views <i class="fa fa-sort"></i></a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items | orderBy:sortField:descending">
                    <td>{{ item.operatingsystem }}</td>
                    <td>{{ item.visits }}</td>
                    <td>{{ item.pageviews }}</td>
                </tr>
            </tbody>
        </table>
        
        <hr />

        <h4>OS Versions</h4>

        <table id="tbl-osversions" class="table table-striped">
            <thead>
                <tr>
                    <th id="v_operatingsystem"><a href="#" ng-click="sortVersion('v_operatingsystem')" prevent-default>Operating System <i class="fa fa-sort"></i></a></th> <!-- icon-sort -->
                    <th id="v_version"><a href="#" ng-click="sortVersion('v_version')" prevent-default>Version <i class="fa fa-sort"></i></a></th>
                    <th id="v_visits"><a href="#" ng-click="sortVersion('v_visits')" prevent-default>Visits <i class="fa fa-sort"></i></a></th>
                    <th id="v_pageviews"><a href="#" ng-click="sortVersion('v_pageviews')" prevent-default>Page Views <i class="fa fa-sort"></i></a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in itemsVersions | orderBy:sortField:descending">
                    <td>{{ item.v_operatingsystem }}</td>
                    <td>{{ item.v_version }}</td>
                    <td>{{ item.v_visits }}</td>
                    <td>{{ item.v_pageviews }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>