<div ng-controller="Analytics.SalesPerformanceController">
    <div class="umb-pane">
        
        <div ng-model="dateFilter" date-range-picker class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
        </div>   
           
        <h4>Sales Performance</h4>
        
        <div class="clearfix"></div>
        <div ng-show="loadingViews" class="loading-bar">
            <div class="umb-loader" style="height: 10px; margin: 10px 0px;"></div>
        </div>

        <h5>Revenue</h5>
        <div class="chart-container">
        <canvas id="viewSalesPerformance" width="650" height="250"></canvas>
            <div class="chart-legend">
                <ul>
                    <li class="serie-red">Revenue</li>
                </ul>
            </div>
        </div>

        <table id="tbl-salesperformance" class="table table-striped">
            <thead>
                <tr>
                    <th id="date"><a href="#" ng-click="sort('date')" prevent-default>Date <i class="fa fa-sort"></i></a></th> <!-- icon-sort -->
                    <th id="uniquePurchases"><a href="#" ng-click="sort('uniquePurchases')" prevent-default>Unique Purchases <i class="fa fa-sort"></i></a></th>
                    <th id="revenue"><a href="#" ng-click="sort('revenue')" prevent-default>Revenue <i class="fa fa-sort"></i></a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in itemSales | orderBy:sortField:descending">
                    <td>{{ item.date | date:'yyyy-MM-dd' }}</td>
                    <td>{{ item.uniquePurchases }}</td>
                    <td>{{ item.revenue | currency:"DKK" }}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>