<div ng-controller="Analytics.SettingsController">
    <div class="umb-pane form-horizontal">
        
        <p class="alert alert-warning" ng-show="!selectedprofile">
            <localize key="analytics_infoMessage">Before you can use Analytics, you need to choose a profile you wish to use to view statistics.</localize>
        </p>

        <h4><localize key="analytics_settings">Settings</localize></h4>

        <umb-control-group ng-hide="hasAuthd()" label="@analytics_authorisation" description="@analytics_loginWithGoogleViaOAuth">
            <button class="btn btn-success" ng-click="auth()"><span class="icon-lock"></span> <localize key="analytics_authorize">Authorize</localize></button>
        </umb-control-group>

        <umb-control-group ng-repeat="setting in settings" label="{{ setting.Label }}" description="{{ setting.Description }}" style="display:none;">
            <input type="text" name="{{ setting.Key }}" id="{{ setting.Key }}" value="{{ setting.Value }}" ng-model="setting.Value" />
        </umb-control-group>

        <!-- Done as regular HTML, as need settings & account. Using umb-control-group has seperate scope -->

        <div class="umb-property">
            <div class="control-group umb-control-group">
                <div class="umb-el-wrap">
                    <label class="control-label" for="">
                        <localize key="analytics_account">Account</localize>
                        <small><localize key="analytics_selectAccountMessage">Select which account you wish to view settings from</localize></small>
                    </label>
                  
                    <div class="controls controls-row">
                        
                        <select name="account" ng-model="selectedaccount" ng-change="accountSelected(selectedaccount)" ng-options="account.Name for account in accounts">
                            <option value="" localize="label" label="@analytics_selectAnAccount"></option>
                        </select>

                        <br />

                        <select name="profile" ng-show="selectedaccount" ng-model="selectedprofile" ng-options="profile.Name for profile in profiles" style="margin-top:10px">
                            <option value="" localize="label" label="@analytics_selectAProfile"></option>
                        </select>

                        <div ng-show="selectedprofile">
                            <hr />

                            <h4><localize key="analytics_selectedProfile">Selected Profile</localize></h4>

                            <h5><localize key="analytics_name">Name</localize>: {{ selectedprofile.Name }}</h5>
                            <h5><localize key="analytics_website">Website</localize>: {{ selectedprofile.WebsiteUrl }}</h5>
                            <h5><localize key="analytics_id">Id</localize>: {{ selectedprofile.Id }}</h5>
                            <h5><localize key="analytics_webPropertyId">Web Property Id</localize>: {{ selectedprofile.WebPropertyId }}</h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
        <div class="umb-tab-buttons">
            <div class="btn-group">
                <button ng-disabled="!selectedprofile" ng-click="save(settings, selectedaccount, selectedprofile)" data-hotkey="ctrl+s" class="btn btn-success">
                    <localize key="buttons_save">Save</localize>
                </button>
            </div>
        </div>
    </div>
</div>