<div ng-controller="Analytics.SocialController">
    <div class="umb-pane">
        
        <div ng-model="dateFilter" date-range-picker class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
        </div>

        <h4>Social network</h4>
        
        <div ng-show="loadingViews">
            <div class="umb-loader" style="height: 10px; margin: 10px 0px;"></div>
        </div>

        <canvas id="social" width="650" height="450"></canvas>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Social Network</th>
                    <th>Vists</th>
                    <th>Page Views</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in social.Rows">
                    <td>{{ row.Cells[0] }}</td>
                    <td>{{ row.Cells[1] }}</td>
                    <td>{{ row.Cells[2] }}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>