<div ng-controller="Analytics.PageViewsController">
    <div class="umb-pane">
        <div ng-model="dateFilter" date-range-picker class="date-filter pull-right">
        </div>

        <h4>Views</h4>
     
        <div class="clearfix"></div>
        <div ng-show="loadingViews" class="loading-bar">
            <div class="umb-loader" style="height: 10px; margin: 10px 0px;"></div>
        </div>
        
        <div class="chart-container">
            <canvas id="viewMonths" width="650" height="450"></canvas>
            <div class="chart-legend">
                <ul>
                    <li class="serie-blue">Page Views</li>
                    <li class="serie-red">Visits</li>
                </ul>
            </div>
        </div>

        <table id="tbl-views" class="table table-striped">
            <thead>
                <tr>
                    <th id="pagepath"><a href="#" ng-click="sort('pagepath')" prevent-default><span>Page Path</span> <i class="icon"></i></a></th> <!-- icon-sort -->
                    <th id="visits"><a href="#" ng-click="sort('visits')" prevent-default><span>Visits</span> <i class="icon"></i></a></th>
                    <th id="pageviews"><a href="#" ng-click="sort('pageviews')" prevent-default><span>Page Views</span> <i class="icon"></i></a></th>
                </tr>
            </thead>
            <p ng-show="loadingViews">Loading data...</p>
            <tbody ng-show="!loadingViews">
                <tr ng-repeat="item in items | orderBy:sortField:descending">
                    <td><a href="{{ item.pagepath }}" target="_blank">{{ item.pagepath }}</a></td>
                    <td>{{ item.visits }}</td>
                    <td>{{ item.pageviews }}</td>
                </tr>
            </tbody>
        </table>
        
        <hr/>
        
        <h4>Sources</h4>

        <table id="tbl-sources" class="table table-striped">
            <thead>
                <tr>
                    <th id="s_source"><a href="#" ng-click="sort('s_source')" prevent-default><span>Source</span> <i class="icon"></i></a></th>
                    <th id="s_visits"><a href="#" ng-click="sort('s_visits')" prevent-default><span>Visits</span> <i class="icon"></i></a></th>
                    <th id="s_pageviews"><a href="#" ng-click="sort('s_pageviews')" prevent-default><span>Page Views</span> <i class="icon"></i></a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in itemSources | orderBy:sortField:descending">
                    <td>{{ item.s_source }}</td>
                    <td>{{ item.s_visits }}</td>
                    <td>{{ item.s_pageviews }}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>