<div ng-controller="Analytics.CountryController">
    <div class="umb-pane">
        
        <div ng-model="dateFilter" date-range-picker class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
        </div>
        
        
        
        <div>
            <h4>Country</h4>
            
            <div ng-show="loadingViews">
                <div class="umb-loader" style="height: 10px; margin: 10px 0px;"></div>
            </div>

            <div id="countryChart"></div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>Vists</th>
                        <th>Page Views</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in data.Rows">
                        <td>{{ row.Cells[0] }}</td>
                        <td>{{ row.Cells[1] }}</td>
                        <td>{{ row.Cells[2] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>