<div ng-controller="Analytics.DeviceController">
    <div class="umb-pane">
        
        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
            <i class="glyphicon glyphicon-calendar icon-calendar icon-large"></i>
            <span></span> <b class="caret"></b>
        </div>   
            
        <h4>Last 30 Days - Device Types</h4>
        <h6>Showing stats for {{ profile.WebsiteUrl }} </h6>
        
        <canvas id="deviceType" width="650" height="450"></canvas>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Device Type</th>
                    <th>Vists</th>
                    <th>Page Views</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in devicetypes.Rows">
                    <td>{{ row.Cells[0] }}</td>
                    <td>{{ row.Cells[1] }}</td>
                    <td>{{ row.Cells[2] }}</td>
                </tr>
            </tbody>
        </table>

        
        <hr/>
        
        <h4>Last 30 Days - Devices</h4>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Device</th>
                    <th>Model</th>
                    <th>Vists</th>
                    <th>Page Views</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in devices.Rows">
                    <td>{{ row.Cells[0] }}</td>
                    <td>{{ row.Cells[1] }}</td>
                    <td>{{ row.Cells[2] }}</td>
                    <td>{{ row.Cells[3] }}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>