<div ng-controller="Analytics.LanguageController">
    <div class="umb-pane">
        
        <div ng-model="dateFilter" date-range-picker class="date-filter pull-right">
        </div>    

        <h4><localize key="analytics_language">Language</localize></h4>
        
        <div class="clearfix"></div>
        <div ng-show="loadingViews" class="loading-bar">
            <div class="umb-loader" style="height: 10px; margin: 10px 0px;"></div>
        </div>

        <table id="tbl-languages" class="table table-striped">
            <thead>
                <tr>
                    <th id="language"><a href="#" ng-click="sort('language')" prevent-default><span><localize key="analytics_language">Language</localize></span> <i class="icon"></i></a></th>
                    <th id="visits"><a href="#" ng-click="sort('visits')" prevent-default><span><localize key="analytics_visits">Visits</localize></span> <i class="icon"></i></a></th>
                    <th id="pageviews"><a href="#" ng-click="sort('pageviews')" prevent-default><span><localize key="analytics_pageViews">Page Views</localize></span> <i class="icon"></i></a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items | orderBy:sortField:descending">
                    <td>{{ item.language }}</td>
                    <td>{{ item.visits }}</td>
                    <td>{{ item.pageviews }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>