<div>
    <div class="umb-pane">
        <umb-control-group label="Client ID" description="This is the Client ID key from the Google API">
            <input type="text" placeholder="Client ID Key" />
        </umb-control-group>

        <div class="umb-tab-buttons">
             <div class="btn-group">
                 <button type="submit" data-hotkey="ctrl+s" class="btn btn-success">
                     <localize key="buttons_save">Save</localize>
                 </button>
             </div>
         </div>

    </div>
</div>