<div ng-controller="Analytics.PageViewsController">
    <div class="umb-pane">
        
        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
            <i class="glyphicon glyphicon-calendar icon-calendar icon-large"></i>
            <span></span> <b class="caret"></b>
        </div>

        <h4>Views</h4>
        <h6>Showing stats for {{ profile.WebsiteUrl }} </h6>
        
       

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Page Path</th>
                    <th>Vists</th>
                    <th>Page Views</th>
                </tr>
            </thead>
            <p ng-show="loadingViews">Loading data...</p>
            <tbody ng-show="!loadingViews">
                <tr ng-repeat="row in views.Rows">
                    <td>{{ row.Cells[0] }}</td>
                    <td>{{ row.Cells[1] }}</td>
                    <td>{{ row.Cells[2] }}</td>
                </tr>
            </tbody>
        </table>
        
        <hr/>
        
        <h4>Last 30 Days - Sources</h4>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Source</th>
                    <th>Vists</th>
                    <th>Page Views</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in sources.Rows">
                    <td>{{ row.Cells[0] }}</td>
                    <td>{{ row.Cells[1] }}</td>
                    <td>{{ row.Cells[2] }}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>