<?xml version="1.0" encoding="utf-8" ?>
<!--NOTE: The ViewRoute value is relative to the main route ("/App_Plugins/Analytics/backOffice/AnalyticsTree") Valid choices are "view" (for the standard partials) or "edit" (for the settings route)-->
<!-- The 'TitleKey' refers to the alias of the item in the language files located at "\App_Plugins\Analytics\config\lang\"-->
<AnalyticsTree>
  <TreeNode Id = "views" TitleKey = "views" Icon = "icon-activity" ViewRoute ="view/views"/>
  <TreeNode Id = "keywords" TitleKey = "keywords" Icon = "icon-tags" ViewRoute ="view/keywords"/>
  <TreeNode Id = "social" TitleKey = "socialNetwork" Icon = "icon-chat-active" ViewRoute ="view/social"/>
  <TreeNode Id = "os" TitleKey = "operatingSystem" Icon = "icon-windows" ViewRoute ="view/os"/>
  <TreeNode Id = "screenres" TitleKey = "screenResolution" Icon = "icon-display" ViewRoute ="view/screenres"/>
  <TreeNode Id = "devices" TitleKey = "devices" Icon = "icon-iphone" ViewRoute ="view/devices"/>
  <TreeNode Id = "browser" TitleKey = "browser" Icon = "icon-browser-window" ViewRoute ="view/browser"/>
  <TreeNode Id = "language" TitleKey = "language" Icon = "icon-chat-active" ViewRoute ="view/language"/>
  <TreeNode Id = "country" TitleKey = "country" Icon = "icon-globe" ViewRoute ="view/country"/>
  <TreeNode Id = "ecommerce" TitleKey = "ecommerce" Icon = "icon-shopping-basket" ViewRoute ="view/ecommerce"/>
  <TreeNode Id = "settings" TitleKey = "settings" Icon = "icon-settings" ViewRoute ="edit/settings"/>
</AnalyticsTree>