<div ng-controller="Analytics.BrowserController">
    <div class="umb-pane">
        
        <div ng-model="dateFilter" date-range-picker class="date-filter pull-right">
        </div>      
         
        <h4><localize key="analytics_browser">Browser</localize></h4>
        
        <div class="clearfix"></div>
        <div ng-show="loadingViews" class="loading-bar">
            <div class="umb-loader" style="height: 10px; margin: 10px 0px;"></div>
        </div>

        <div class="chart-container">
            <canvas id="browsers" width="650" height="450"></canvas>
        </div>

        <table id="tbl-browsers" class="table table-striped" ts-wrapper>
            <thead>
                <tr>
                    <th id="browser" ts-criteria="browser"><localize key="analytics_browser">Browser</localize></th>
                    <th id="visits" ts-criteria="visits | parseInt" ts-default="descending"><localize key="analytics_visits">Visits</localize></th>
                    <th id="pageviews" ts-criteria="pageviews | parseInt"><localize key="analytics_pageViews">Page Views</localize></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items track by $id(item)" ts-repeat>
                    <td>{{ item.browser }}</td>
                    <td>{{ item.visits }}</td>
                    <td>{{ item.pageviews }}</td>
                </tr>
            </tbody>
        </table>
        
        <hr/>
        
        <h4><localize key="analytics_browserSpecific">Browser Specific</localize></h4>

        <table id="tbl-browserspecifics" class="table table-striped" ts-wrapper>
            <thead>
                <tr>
                    <th id="bs_browser" ts-criteria="bs_browser"><localize key="analytics_browser">Browser</localize></th>
                    <th id="bs_version" ts-criteria="bs_version"><localize key="analytics_version">Version</localize></th>
                    <th id="bs_visits" ts-criteria="bs_visits | parseInt" ts-default="descending"><localize key="analytics_visits">Visits</localize></th>
                    <th id="bs_pageviews" ts-criteria="bs_pageviews | parseInt"><localize key="analytics_pageViews">Page Views</localize></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in itemSpecs track by $id(item)" ts-repeat>
                    <td>{{ item.bs_browser }}</td>
                    <td>{{ item.bs_version }}</td>
                    <td>{{ item.bs_visits }}</td>
                    <td>{{ item.bs_pageviews }}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>