<div ng-controller="Analytics.CountryController">
    <div class="umb-pane">
        
        <div ng-model="dateFilter" date-range-picker class="date-filter pull-right">
        </div>

        <h4><localize key="analytics_country">Country</localize></h4>
            
        <div class="clearfix"></div>
        <div ng-show="loadingViews" class="loading-bar">
            <div class="umb-loader" style="height: 10px; margin: 10px 0px;"></div>
        </div>

        <div id="countryChart"></div>

        <table id="tbl-countries" class="table table-striped" ts-wrapper>
            <thead>
                <tr>
                    <th id="country" ts-criteria="country"><localize key="analytics_country">Country</localize></th>
                    <th id="visits" ts-criteria="visits | parseInt" ts-default="descending"><localize key="analytics_visits">Visits</localize></th>
                    <th id="pageviews" ts-criteria="pageviews | parseInt"><localize key="analytics_pageViews">Page Views</localize></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items track by $id(item)" ts-repeat>
                    <td>{{ item.country }}</td>
                    <td>{{ item.visits }}</td>
                    <td>{{ item.pageviews }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>