{
  "Id": "19164496",
  "AccountId": "120590",
  "WebPropertyId": "UA-120590-4",
  "InternalWebPropertyId": "21075964",
  "Name": "our.umbraco.org",
  "Currency": "USD",
  "Timezone": "Europe/Copenhagen",
  "WebsiteUrl": "http://our.umbraco.org",
  "Type": "WEB",
  "Created": "2009-06-27T08:03:07+01:00",
  "Updated": "2011-11-24T08:18:25.691+00:00"
}