{
  "Id": "8245037",
  "AccountId": "4113171",
  "WebPropertyId": "UA-4113171-1",
  "InternalWebPropertyId": "7923617",
  "Name": "www.nibble.be",
  "Currency": "USD",
  "Timezone": "Europe/Brussels",
  "WebsiteUrl": "www.nibble.be",
  "Type": "WEB",
  "Created": "2008-04-13T14:26:12+02:00",
  "Updated": "2011-09-20T09:34:04.996+02:00"
}
