{
  "Id": "2464711",
  "AccountId": "1383977",
  "WebPropertyId": "UA-1383977-1",
  "InternalWebPropertyId": "2424718",
  "Name": "www.creativewebspecialist.co.uk",
  "Currency": "GBP",
  "Timezone": "Europe/London",
  "WebsiteUrl": "www.creativewebspecialist.co.uk",
  "Type": "WEB",
  "Created": "2007-02-20T08:36:06+00:00",
  "Updated": "2011-12-23T11:50:20.678+00:00"
}