<?xml version="1.0" encoding="utf-8" ?>
<Analytics>
  <ClientId label="Client ID" description="This is the Client ID key from the Google API">442572489342</ClientId>
  <ClientSecret label="Client Secret" description="This is the Client Secret from the Google API">8g65400naNaCUIwgCpyaX0KY</ClientSecret>
  <RedirectUri label="Redirect URI" description="This is the redirect URI from the Google API">http://localhost:62315/App_Plugins/Analytics/backoffice/oAuth.aspx</RedirectUri>
  <RefreshToken label="Refresh Token" description="The refresh token used to acquire new access tokens. This is sensitive information.">1234567</RefreshToken>
  <Username label="Username" description="The username for the Google account">warren</Username>
</Analytics>