@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@{
    //This code snippet is here to test to make sure the Any() extension method on Dynamic works still & does not YSOD
    var children = CurrentPage.Children;
    var hasChildrenToShow = children.Where(" visible").Any();
}

@if (hasChildrenToShow)
{
    <p>Any() Works</p>
}

@CurrentPage.GetGridHtml("content", "fanoe")